@{
    ViewBag.Title = "Artigos";
}

<!--<div class="container">
    
        <div class="lista">
            @{
                foreach (var artigo in ViewBag.listaArtigos)
                {
                    <p>@artigo.CodArtigo</p>
                }
            }
        </div>
    </!--div>-->
<div class="row">
    <div class="col">
        <div data-price="290" class="item">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item">
            <div class="info">
                @{
                    <h6>@ViewBag.listaArtigos[0].DescArtigo</h6>
                    <p class="description">@ViewBag.listaArtigos[0].CodArtigo</p>
                    <h6>@ViewBag.listaArtigos[0].Preco</h6>
                }

            </div>
        </div>
    </div>
    <div class="col">
        <div data-price="290" class="item">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item">
            <div class="info">
                @{
                    <h6>@ViewBag.listaArtigos[1].DescArtigo</h6>
                    <p class="description">@ViewBag.listaArtigos[1].CodArtigo</p>
                    <h6>@ViewBag.listaArtigos[1].Preco</h6>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <div data-price="290" class="item">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item">
            <div class="info">
                @{
                    <h6>@ViewBag.listaArtigos[2].DescArtigo</h6>
                    <p class="description">@ViewBag.listaArtigos[2].CodArtigo</p>
                    <h6>@ViewBag.listaArtigos[2].Preco</h6>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div data-price="290" class="item">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item">
            <div class="info">
               @{
                <h6>@ViewBag.listaArtigos[3].DescArtigo</h6>
                <p class="description">@ViewBag.listaArtigos[3].CodArtigo</p>
                <h6>@ViewBag.listaArtigos[3].Preco</h6>
            }
            </div>
        </div>
    </div>
    <div class="col">
        <div data-price="290" class="item">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item">
            <div class="info">
              @{
                    <h6>@ViewBag.listaArtigos[4].DescArtigo</h6>
                    <p class="description">@ViewBag.listaArtigos[4].CodArtigo</p>
                    <h6>@ViewBag.listaArtigos[4].Preco</h6>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <div data-price="290" class="item">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item">
            <div class="info">
                @{
                    <h6>@ViewBag.listaArtigos[5].DescArtigo</h6>
                    <p class="description">@ViewBag.listaArtigos[5].CodArtigo</p>
                    <h6>@ViewBag.listaArtigos[5].Preco</h6>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div data-price="290" class="item">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item">
            <div class="info">
                @{
                    <h6>@ViewBag.listaArtigos[6].DescArtigo</h6>
                    <p class="description">@ViewBag.listaArtigos[6].CodArtigo</p>
                    <h6>@ViewBag.listaArtigos[6].Preco</h6>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <div data-price="290" class="item">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item">
            <div class="info">
                @{
                    <h6>@ViewBag.listaArtigos[7].DescArtigo</h6>
                    <p class="description">@ViewBag.listaArtigos[7].CodArtigo</p>
                    <h6>@ViewBag.listaArtigos[7].Preco</h6>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <div data-price="290" class="item">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSS8oEITt9vJtsCPRH0mvi2pRf8YZfN6YnkASdjsibLyayVVlidSUwG64QIWw" alt="jacket" class="img-item">
            <div class="info">
               @{
                <h6>@ViewBag.listaArtigos[8].DescArtigo</h6>
                <p class="description">@ViewBag.listaArtigos[8].CodArtigo</p>
                <h6>@ViewBag.listaArtigos[8].Preco</h6>
            }
            </div>
        </div>
    </div>
</div>

