@{
    ViewBag.Title = "Products";
}

<div class="container">
    <div class="text-center" style="margin:3%"><h3>@ViewBag.categoria.NomeCategoria</h3></div>
    
    <div class="menu">
        <div class="row">
            <div class="col col-md-3">
                <div class="mini-menu">

                    <div class="btn-group-vertical">
                        @{
                            foreach (var categoria in ViewBag.listaCategorias)
                            {
                                <button type="button" class="btn btn-info" style="border-color:white" onclick="location.href='@Url.Action("ArtigosPorCategoria", "Artigos", new { id = @categoria.CodCategoria })'">@categoria.NomeCategoria</button>
                            }

                        }

                    </div>
                </div>
            </div>
            <div class="col" style="padding-top:5px">
                <div class="row">
                    @{
                        foreach (var artigo in @ViewBag.artigosCategoria)
                        {
                            <div class="col-4">
                                <a style="display:block" href="~/Artigos/Artigo/@artigo.CodArtigo">
                                    <div class="item">
                                        <img height="200" width="200" id="article_photo@{@artigo.CodArtigo}" src="~/Images/@{@artigo.CodArtigo}.jpg" onerror="loadDefaultImage(this)" class="img-item">
                                        <div class="info">
                                            <p style="font-size:80%"><b>@artigo.DescArtigo</b></p>
                                            <p style="font-size:75%"><b>Price:</b> @artigo.Preco€</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>
