@{
    ViewBag.Title = "Artigo";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/form_validator.js"></script>  

<div class="container">
        <div class="card" style="padding-top:15px;margin-top:20px">
            <div class="container-fliud" style="padding:15px">
                <div class="row">
                    <div class="previewProduct col-md-8">
                        <img width="600" id="article_photo" src="~/Images/@{@ViewBag.artigo.CodArtigo}.jpg" onerror="loadDefaultImage(this)" />
                    </div>
                    <div class="descriptionProduct col-md-4">
                        @{
                            <h3 class="product-title">@ViewBag.artigo.DescArtigo</h3>
                            <p class="product-description">@ViewBag.artigo.CodArtigo</p>
                        }
                        
                        <h3 class="product-details" style="margin-top:10%">Product Details</h3>
                        @{
                            <p class="price">Price: @ViewBag.artigo.Preco €</p>
                            <p class="category">Category: <span>@ViewBag.categoria.NomeCategoria</span></p>
                            <p>
                                Quantity:
                                <input type="number" id="quantity" name="quantity" value="1" style="width:50px" />
                            </p>
                            
                        }
                        
                        <form id="add_product_form" class="form-horizontal" name="add_product_form" action="#" onsubmit="return addProductToCart(this);">
                            @{
                                <input type="hidden" id="codArtigo" name="codArtigo" value=@ViewBag.artigo.CodArtigo>
                                <input type="hidden" id="precoArtigo" name="precoArtigo" value=@ViewBag.artigo.Preco>
                                <input type="hidden" id="descArtigo" name="descArtigo" value=@ViewBag.artigo.DescArtigo>
                            }
                            <a href="#" data-toggle="modal" data-target="#warehouseModal">Check availability</a>  
                            @{
                                if (Request.Cookies["UserId"] != null)
                                {
                                    <div class="action" style="margin-top:5%">
                                        <button type="submit" class="add-to-cart btn btn-info">Add to Cart</button>
                                    </div>
                                }
                            }
                                                                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top:20px">
            <div class="container-fliud" style="padding:15px">
                <h3 class="product-recommendation">Related Products</h3>
                <div class="row">
                    @{
                        foreach (var recomendado in @ViewBag.recomendados)
                        {
                            <div class="rec1 col-md-3">
                                <img width="250" height="150" id="article_photo@{@recomendado.CodArtigo}" src="~/Images/@{@recomendado.CodArtigo}.jpg" onerror="loadDefaultImage(this)" />
                                <a href="~/Artigos/Artigo/@recomendado.CodArtigo">@recomendado.DescArtigo</a>
</div>
                        }
                    }                                    
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="warehouseModal" tabindex="-1" role="dialog" aria-labelledby="WarehouseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Check Availability</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
       
            
                @if (@ViewBag.armazens.Count == 0)
                {
                    <div class="text-center">
                        <p>This product is currently unavailable!</p>
                        <h5>Your order may take longer to be shipped...</h5>
                    </div>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Warehouse</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var armazem in @ViewBag.armazens)
                            {
                                <tr>
                                    <td> <p><b>@armazem.Descricao</b></p></td>
                                    <td> <p>@armazem.STKAtual</p></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
