@{
    ViewBag.Title = "ArtigosStock";
}

<div class="container">
    <h2>Stock</h2>
    <ul class="list-group">
        @{
            foreach (var artigo in ViewBag.listaArmazens)
            {
                <li  class="list-group-item">
                    <div>
                        <p>@artigo.Artigo.DescArtigo;</p>
                        <p>@artigo.Artigo.CodArtigo;</p>
                        <p>@artigo.Artigo.STKAtual;</p>
                        @{
                            foreach (var armazem in artigo.ArmazemStock)
                            {
                                <p>@armazem.Key</p>
                                <p>@armazem.Value</p>
                            }
                        }
                    </div>
                    
                </li>
            }
        }
    </ul>
</div>
