<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="~/Scripts/pagination.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/form_validator.js"></script>  
    <title>@ViewBag.Title</title>
    @RenderSection("css", false)
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="~/">Online Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <form class="form-inline my-2 my-lg-0" action="#" onsubmit="return searchProducts(this);">
                        <input id="searchbar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                    </form>                                                 
                </ul>

                <ul class="navbar-nav pull-right">
                    @{ if (Request.Cookies["UserId"] != null && Request.Cookies["UserId"].Value != "admin")
                     {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Clientes/Cliente"><span class="fa fa-user"></span> Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/ShoppingCart"><span class="fa fa-shopping-cart"></span> Cart</a>
                        </li>

                     }
                    }
                    @{
                        if (Request.Cookies["UserId"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Clientes/LogOut">LogOut</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Clientes/LogIn">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Clientes/SignUp">Sign up</a>
                            </li>
                        }
                    }
                    
                </ul>

            </div>
        </nav>
    </header>
    <div id="page_body" class="container body-content" >
        @RenderBody()
    </div>
     <footer>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <span class="navbar-text float-right">
                Online Store 2017
            </span>
        </nav>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
