@{
    ViewBag.Title = "DocVenda";
}

@{
    //<h2>Order @ViewBag.docVenda.id</h2>

    /*foreach (var prod in @ViewBag.docVenda.LinhasDoc)
    {
            <h4>@prod.codArtigo @prod.DescArtigo</h4>
            <p>Quantity: @prod.Quantidade</p>
            <p>Price: @prod.PrecoUnitario</p>
    }*/
}
